body {
    background-image: url(../Images/whitebrick.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overscroll-behavior: none;
    overflow-x: hidden;

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

footer {
    margin-bottom: 50px;
}

.text {
    color: black;
}

.link {
    color: #3064ff;
}

#welcome {
    height: 110px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
}

iframe.clock {
    position: absolute;
    left: 77%;
    margin-top: 15px;
    margin-right: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 810px) {
    iframe.clock {
        display: none;
    }
}

/* .weather {
    position: absolute;
    width: 250px;
    left: 54%;
    top: 20px;
} */
