
body {
    background-image: url(../Images/whitebrick.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: auto;

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

footer {
    margin-bottom: 50px;
}

.text {
    color: black;
}

.link {
    color: #3064ff;
}

#welcome {
    height: 110px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
}

hr {
    background-color: black;
    height: 2px;
    border: none;
}

#aboutproj {
    margin: 10px;
    padding: 1px;
}

#aboutme {
    margin: 10px;
    padding: 1px;
}

#bnav {
    margin: 10px;
    padding: 1px;
}

#backlog {
    margin: 10px;
    padding: 1px;
}

iframe.clock {
    position: absolute;
    /* border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    left: 71.3%;
    margin-top: 15px;
    margin-right: 50px;
}

iframe.clock:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
